#HS{
position: absolute; left: 0px; top: 0px;
width: 100%;
height: 100%;
}
@keyframes Sp{
    from {
        z-index: 5;
    }
    to {
        z-index: 3;
    }
}
#HS {
    animation-name: Sp;
    animation-duration: 7000ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
#HS2{
position: absolute; left: 0px; top: 0px;
width: 100%;
height: 100%;
}
#HS { z-index: 5; }
#HS2 { z-index: 4; }
#TAB { z-index: 2; }

#TAB{
position: absolute; left: 25%; right: 25%; top: 10px;
text-align: center;
width: 50%;
	color: rgb(0, 10, 250);
	font-size: 35pt;
		text-shadow: #5dc8e5 0 0 10px;
}
@keyframes T{
    from {
        z-index: 2;
    }
    to {
        z-index: 5;
    }
}
#TAB {
    animation-name: T;
    animation-duration: 9000ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}